
<div ng-init="u = getUserInfo();getUserTopics()" class="panel panel-default">
  <div class="panel-heading"><strong>View {{ u.value.username | uppercase}}'s Infomation</strong></div>
  <div class="panel-body view-user">
    <div class="view-user-banner"><img ng-src="http://www.gravatar.com/avatar/{{ u.value.email | gravatar }}?s=128"/>
      <p><strong>{{ u.value.username | uppercase}}</strong></p>
      <p>Joined on {{ u.value.date_joined | date }}</p>
    </div>
    <div ng-init="" class="topic-list">
      <div ng-repeat="t in topics | orderBy: '-last_activity' " ng-init="u = (getUserInfo(t.author))" class="topic-list-item">
        <div class="topic-list-info">
          <p class="topic-list-title"><a href="/#!/topic/{{ t.id }}">{{ t.title }}</a><span ng-repeat="g in t.tags"><a>{{ g }}</a></span></p>
          <p class="topic-list-detail">Created by <a href="/#!/user/{{u.value.id}}">{{ u.value.username }}</a> at {{ t.created | date: 'yyyy-MM-dd hh:mm:ss EEEE'}}</p>
        </div>
        <div class="topic-list-image"><a href="/#!/user/{{u.value.id}}"><img ng-src="//www.gravatar.com/avatar/{{ u.value.email | gravatar }}"/></a>
          <p class="topic-list-count">{{t.replies_count}}</p>
        </div>
      </div>
    </div>
  </div>
</div>{{user}}