
<div class="panel panel-default new-topic">
  <div class="panel-heading">Just write down what you want to discuss about in one line~</div>
  <div class="panel-body">
    <form>
      <div class="form-group">
        <lable for="title"> </lable>
        <input maxlength="50" ng-model="title" type="textarea" placeholder="Markdown disabled." class="form-control"/>
      </div>
      <div class="form-group">
        <tags-input ng-model="tags" min-length="1"></tags-input>
      </div>
      <button ng-click="submit()" type="submit" class="btn btn-default">Submit</button>
    </form>
  </div>
</div>