
<div ng-init="getReplies()" class="panel panel-default view-topic">
  <div class="panel-heading">
    <div class="view-topic-heading">
      <div class="view-topic-title">
        <p>{{ t.title }}</p>
      </div>
      <div class="view-topic-info">
        <p>
           
          Created by <a href="/#!/user/{{t.author.id}}">{{ t.author.username }}</a> at {{ t.created | date: 'yyyy-MM-dd hh:mm:ss EEEE'}}
           with {{ t.replies_count }} post(s).
        </p>
      </div>
    </div>
    <div class="view-topic-avatar">
      <div class="topic-list-image"><a href="/#!/user/{{t.author.id}}"><img ng-src="//ruby-china.org/avatar/{{ t.author.email | gravatar }}.png?s=96&amp;d=404"/></a></div>
    </div>
  </div>
  <div class="panel-body">
    <p class="view-reply-head">
      <ng-pluralize count="t.replies_count" when="{'0': 'No Discussion', 'one': 'Discussion(1)', 'other': 'Discussions({})'}"></ng-pluralize>
    </p>
    <div ng-repeat="r in replies" class="view-reply-box">
      <div ng-bind-html="r.content_html" class="view-reply-content"></div>
      <div class="view-reply-info">
        <p><a href="/#!/user/{{r.author.id}}"><img ng-src="//ruby-china.org/avatar/{{ r.author.email | gravatar }}.png?s=96&amp;d=404"/></a>by <a href="/#!/user/{{r.author.id}}">{{ r.author.username }} </a>at {{ r.created | date: 'yyyy-MM-dd hh:mm:ss EEEE'}}</p>
      </div>
    </div>
    <p class="view-reply-end">EOF</p>
  </div>
</div>
<div data-ng-show="user" class="panel panel-default view-topic-new-reply">
  <div class="panel-heading">Join Discussion</div>
  <div ng-init="editorInit('new-reply-input')" class="panel-body">
    <form>
      <textarea id="new-reply-input" placeholder="Markdown enabled." ng-model="content"></textarea>
    </form>
    <p ng-click="submit()" class="view-topic-new-reply-submit">Submit</p>
    <div ng-model="content"></div>
  </div>
</div>